.contacto{
    display: flex;
    flex-direction: column;
    padding: var(--padding-x-movil);
    gap: 1rem;
    background-color: var(--background-contactos-gris);
    color: #000000af;
}
.contacto__titulo{
    font-weight: bold;
    font-family: cursive;
}

.contacto__grupo{
    position: relative;
    
    
}
.contacto__imput{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-letras-azul);
    background-color: none;
    width: 96.5%;
    padding: 1.8em .3em .6em;
    font-family: cursive;
    resize: none;
}

.contacto__imput:focus + .contacto__label, 
.contacto__imput:not(:placeholder-shown) + .contacto__label{
    transform: translateY(-1px) translateX(-5px) scale(.7);
    transform-origin: left top;
    color: var(--color-letras-azul)
}


.contacto__label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: translateY(20px);
    transition: transform .5s, .3s;
    color: var(--color-letras-azul-claro)
}
.contacto__enviar{
    background-color: var(--background-button-azul);
    padding: 0.5rem;
    width: 8rem;
    color: var(--color-letras-blanco);
    border: none;
}