
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-x-movil);
    margin: auto;
    font-family: cursive;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 1rem;
}
.header__color{
    color: var(--color-letras-azul);
}
.header__logo{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    
}
.header__img_logo{
    height: 1.1rem;
}
.header__button{
    font-size: 1.1rem;
    padding: 0.3rem;
    width: 7rem;
    font-family: cursive;
    margin: auto 0;
    background-color: var(--background-top-and-bot-blanco);
    border-color:  var(--background-button-azul);
}
.header__button_administrador{
    font-size: .8rem;
    padding: 0.3rem 0;
    width: 9rem;
    font-family: cursive;
    font-weight: bold;
    margin: auto 0;
    background-color: var(--background-top-and-bot-blanco);
    border-color:  var(--background-button-azul);
}


.header__bloque_buscador{
    background-color: var(--background-main-claro);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    align-items: center;
    padding: 0 1rem;
    gap: 0.5rem;
}
.header__buscador{
    border: none;
    background-color: var(--background-main-claro);
    outline: none;
    height: 1.3rem;
    width: 95%;
    margin: 0.2rem 0;
}
.header__buscador:focus{
    background-color: var(--background-main-claro);
}
.header__img_buscador{
    height: 1.3rem;
    margin: auto;
}
input#searchId.header__buscador{
    background-color: var(--background-main-claro);
}
